.btn-operation {
       
    /* display: grid; */
     grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  .op-btn {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 18px;
    background-color:green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }